@import "../../variables";

.apartmentsgallery {
  padding: 0 0.7rem;
  &__results {
    border-left: 4px solid $primary;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
  &__loading {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 18rem;
  }
}

@media screen and (min-width: 868px) {
    .apartmentpage {
      &__loading {
        height: 100vh;
      }
    }
  }
