@import "../../../variables";

.photos {
  height: $height-gallery-photos;
  padding: 0.5rem;
  width: 100%;  
  &__cover {
    background-position: center;
    height: $height-cover;
    object-fit: cover;
    width: 100%;
  }
  &__photo {
    height: $height-image-card;
    object-fit: cover;
    width: 100%;
  }
  &__group {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .photos {
    height: $height-gallery-photos;
    &__group {
      display: none;
    }
  }
}

@media screen and (min-width: 1000px) {
  .photos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $gap-small;
    height: $height-gallery-photos;
    &__group {
      display: flex;
      flex-direction: column;
      gap: $gap-small;
      height: $height-image-card;
    }
  }
}
