@import "../../../variables";

.attracticon {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  &__icon {
    height: 1.5rem;
    filter: $filter-images;
  }
  &__name {
    font-weight: 700;
  }
}
