.apartmentspage {
  display: grid;
  grid-template-columns: 1fr;
  &__column {
    &--map {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .apartmentspage {
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    &__column {
      height: 84vh;
      &--map {
        display: block;
      }
      &--apartments {
        overflow-y: auto; 
      }
    }
  }
}
