@import '../../variables';

.apartments_page {
  &__subtitle {
    border-left: 4px solid $primary;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}
